/* Common */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    padding:12.5px 16px ;
    width: fit-content;
    background-color: #469165;
    color: #FFFFFF;
    border: 2px solid #469165;
    border-radius: 4px;
    font-weight: 600;
    max-height: 52px;
}

.btn:hover{
    background-color: #21d530;
    cursor: pointer;
}


/* Navigation Bar */
#navigation{
    max-width: 1600px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    /* background-color: antiquewhite; */
}

#navigation .logo{
    max-width: 139px;
}

#navigation .links{
    max-width: 365px;
    display: flex;
}

#navigation .links ul{
    display: flex;
    gap:32px ;
    list-style: none;
}

#navigation .links ul a{
    text-decoration: none;
    font-size: 16px;
    line-height: 152%;
    color: #000000;
    white-space: nowrap;
    font-weight: 500;
}

#navigation .links ul a:hover{
    background-color: rgba(10, 146, 6, 0.378);
    cursor: pointer;
}


/* Banner */
#banner{
    max-width: 1600px;
    padding: 115.5px 120px;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#banner .banner-parent{
    max-width: 1360px;
    /* align-items: center; */
    /* justify-content: center; */
    /* border:2px solid #FFFFFF; */
}

.banner-parent .banner-content{
    text-align: center;
}

.banner-content button:hover{
    background-color: #aeff9e;
    cursor: pointer;
}

.banner-content button{
    background-color: #FFFFFF;
    max-width: 229px;
    padding: 12px 8px;
    border: 2px solid #FFFFFF;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    margin-bottom:16px ;
}

.banner-content h1{
    max-width: 770px;
    color: #FFFFFF;
    font-size: 72px;
    font-weight: bold;
    margin:16px 295px ;
    line-height: 84px;
}

.banner-content h1 .green{
    color: #30B868;
}

.banner-content p{
    max-width: 1360px;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 24px;
    margin-bottom: 32px;
}

.banner-parent .banner-btn{
    max-width: 447px;
    justify-content: center;
    margin: 0 auto;
}

.banner-btn ul{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    list-style: none;
    margin: 0 auto;
}

.banner-btn ul .btn{
    max-width: 251px;
    display: flex;
    white-space: nowrap;
    align-items: center;
}

.banner-btn ul .btn span{
    margin-right: 10px;
}

.banner-btn ul .btn img{
    max-height: 20px;
}

.banner-btn ul .play{
    max-width: 20px;
}

.banner-btn ul .btn-2{
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    max-width: 198px;
    max-height: 52px;
    width: fit-content;
    display: flex;
    white-space: nowrap;
    align-items: center;
    padding-right: 16px;
}

.banner-btn ul .btn-2:hover{
    background-color: #04a111a4;
    cursor: pointer;
}

.banner-btn ul .btn-2 img{
    margin:16px 10px 16px;
}

.banner-btn ul .btn-2 span{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    margin: 0 16px 0 0;
    justify-content: center;

}


/* Main section1 */
#section1{
    max-width: 1600px;
    text-align: center;
    padding: 0 120px;
}

#section1 .section-header{
    max-width: 1360px;
}

.section-header  h3{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.section-header  p{
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    color:#627382 ;
    margin-bottom: 44px;
}

#section1 .section-cards{
    display: flex;
    gap: 24px;
}

.section-cards .card{
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 #00000019;
    justify-content: center;
    align-items: center;
    max-width: 322px;
    padding: 24px 24px;
}

.section-cards .card:hover{
    background-color: #81c8873c;
    cursor: pointer;
}

.card .bck-color{
    background-color:#F95555 ;
    border-radius: 50%;
    max-width: 60px;
    /* max-height: 60px; */
    margin: 0 auto;
    /* align-items: center; */
    /* justify-content: center; */
}

.card .bck-color .icon{
    background-color:#F95555 ;
    border-radius: 100%;
    max-width: 32px;
    /* max-height: 32px; */
    margin: 14px;
}

/* Main section2 */
#section2{
    padding: 120px;
}

#section2 .parent{
    display: flex;
}

.parent .child-left{
    border-radius: 12px;
    max-width: 600px;
    max-height: 600px;
}
.parent .child-right{
    padding: 102px 0 60px;
    align-items: center;
}

.child-left .grand-child-right{
    max-width: 700px;
}

.grand-child-right .center-top h6{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #30B868;
}

.grand-child-right .center-top h3{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin: 16px 0;
}

.grand-child-right .center-top p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.grand-child-right .center-bottom ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.center-bottom ul li{
    margin-bottom: 16px;
    display: flex;
    gap: 6px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color:#001931 ;
}

/* Challenge part */
#challenge{
    padding:0 120px 120px;
    justify-content: center;
}

#challenge .challenge-parent{
    padding: 80px 40px;
    background-color: #F7F6F2;
    max-width: 1360px;
    justify-content: center;
    text-align: center;
}

.challenge-parent .center-1 h3{
    font-size: 40px;
    font-weight: bold;
    color: #000e1c;
    margin-bottom:16px;
    /* justify-content: center; */
    /* text-align: center; */
}

.challenge-parent .center-1 p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom:24px;
}

.challenge-parent .center-2 .btn{
    max-width: 194px;
    display: inline-flex;
    gap: 10px;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
}

.challenge-parent .center-2 .btn span{
    display: inline-block;
    font-size: 16px;
}

.challenge-parent .center-2 .btn img{
    max-height: 20px;
    max-height: 20px;
    vertical-align: middle;
}

.challenge-parent .center-2 p{
    margin-top:16px;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
}

/* Footer */
footer{
    background-color:#001931 ;
}

.footer-head{
    padding: 120px 120px 80px;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.footer-links p{
color: #ffffff7f;
font-size: 20px;
font-weight: 500;
line-height: 28px;
}
.footer-links ul{
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li{
    background-color: #ffffff7f;
    border-radius: 50%;
    /* background-size: px  */
    /* max-width:30px ; */
    /* max-height: 30px; */
}

footer hr{
    margin: 0 120px;
    border: none;
    height:2px;
    background-color:#ffffff1f ;
}

footer .last{
    padding: 20px 0 30px 0;
    font-size: 16px;
    font-weight:400 ;
    color: #FAFAFA;
    line-height: 24px;
    text-align: center;
}